<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="batmobil">



  <xacro:arg name="sim_mode" default="true" />
  <!-- Include core_model -->
  <xacro:include filename="update_core.xacro" />
  

  <!-- Include gz_config -->
  <xacro:include filename="materials.xacro" />



</robot>
